.theorycompo {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #000000;
    color: #fff;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}