* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

body::-webkit-scrollbar,
.leftbar::-webkit-scrollbar {
    display: none;
}   

.profilecom {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #9c9b9b;
    color: #000;
    padding: 24px;  
    display: flex;
    justify-content: space-around;
    align-items: center;    
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 30px #9c9b9b;
    padding: 0 70px;
    background: #9c9b9b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 300;
    border-bottom: 0.1px solid #c5c5c5;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.headerleft {
    display: flex;
    align-items: center;
    gap: 45px;
    color: #fff;
    user-select: none;
}

.leftbtn {
    width: 19px;
    cursor: pointer;
    transition: 0.25s ease;
}

.leftbtn:hover {
    transform: rotate(90deg) scale(1.1);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchinput {
    width: 230px;
    height: 36px;
    background: transparent;
    color: #000;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 0 18px;
    font-size: 14px;
}

.profile {
    width: 100px;
    height: 42px;
    border-radius: 12px;
    border: 0.5px solid #ccc;
    display: flex;
    color: #000;
    display: none;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    gap: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .1s;
    background: #fff;
}

.profile:hover {
    transform: translateY(-2px);
    outline: 0.5px solid rgb(112, 169, 255);
    box-shadow: 0 2px 2px #000;
}

.profile:active {
    transform: translateY(0);
    outline: none;
    box-shadow: none;
}

.login {
    width: 100px;
    height: 42px;
    border-radius: 12px;
    border: 0.5px solid #ccc;
    display: flex;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    gap: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .1s;
    background: #fff;
}

.login:hover {
    transform: translateY(-2px);
    outline: 0.5px solid rgb(112, 169, 255);
    box-shadow: 0 2px 2px #000;
}

.login:active {
    transform: translateY(0);
    outline: none;
    box-shadow: none;
}

.signsecion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.profile .avtar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
}

.blurs {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    z-index: 150;
    pointer-events: auto;
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.leftbar {
    position: fixed;
    top: 75px;
    left: -300px;
    width: 230px;
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #ffffff, #f6f6f6);
    padding: 20px;
    border-radius: 22px;
    border: 0.3px solid #a5a5a5;
    background: linear-gradient(90);
    overflow-y: auto;
    transition: left 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 200;
    pointer-events: auto;
}

.leftbar.active {
    left: 20px;
}

.leftin .sections {
    width: 100%;
    min-height: 42px;
    border: 1px solid #ddd;
    margin-top: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    background: #fff;
    transition: 0.25s;
}

.leftin .sections:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.35);
}

.sections.active {
    background: #000;
}

.sections.active .sub {
    font-size: 1em;
    color: #000;
}

.sections .sub {
    font-size: 1.3em;
    user-select: none;
    color: #000;
}

.sections img {
    width: 10px;
    height: 10px;
    user-select: none;
}

.subpart {
    margin-top: 10px;
    user-select: none;
}

.phpsub {
    width: 100%;
    min-height: 40px;
    border-radius: 12px;
    user-select: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 0 14px;
    display: flex;
    color: #000;
    box-shadow: inset 0 0 10px #000;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s;
}

.phpsub:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.phpsub img {
    width: 20px;
}

.contentArea {
    margin-top: 60px;
    padding: 35px;
    width: 100%;
}