* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.leftbar::-webkit-scrollbar {
  display: none;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 70px;
  background: linear-gradient(90deg, #ffffff, #f1f1f1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 300;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.logo {
  height: 30px;
  cursor: pointer;
}

.headerleft {
  display: flex;
  align-items: center;
  gap: 45px;
  user-select: none;
}

.leftbtn {
  width: 26px;
  cursor: pointer;
  transition: 0.25s ease;
}

.leftbtn:hover {
  transform: rotate(90deg) scale(1.1);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchinput {
  width: 230px;
  height: 36px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 0 18px;
  font-size: 14px;
}

.profile {
  width: 100px;
  height: 42px;
  border-radius: 12px;
  border: 0.5px solid #ccc;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  background: #fff;
}

.blurs {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  z-index: 150;
  pointer-events: auto;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}


.leftbar {
  position: fixed;
  top: 75px;
  left: -300px;
  width: 240px;
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #ffffff, #f6f6f6);
  box-shadow: 4px 0 15px rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 22px;
  overflow-y: auto;
  transition: left 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 200;
  pointer-events: auto;
}

.leftbar.active {
  left: 20px;
}

.leftin .sections {
  width: 100%;
  min-height: 42px;
  border: 1px solid #ddd;
  margin-top: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  background: #fff;
  transition: 0.25s;
}

.leftin .sections:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.35);
}

.sections.active {
  background: #000;
}

.sections.active .sub {
    font-size: 1em;
  color: #fff;
}

.sections img {
    width: 10px;
    height: 10px;
}

.subpart {
  margin-top: 10px;
}

.phpsub {
  width: 100%;
  min-height: 40px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;
}

.phpsub:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}

.phpsub img {
    width: 20px;
}

.contentArea {
  margin-top: 60px;
  padding: 35px;
  width: 100%;
}
