.main {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 100px 0 100px 400px;
    box-sizing: border-box;
    z-index: 96;
    overflow-y: auto;
}

.main .intro {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .topics {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro .sugg {
    padding: 30px;
    border-radius: 20px;
    border: 0.4px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sugg h1 {
    user-select: none;
}

.sugg .keys {
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: 800;
    user-select: none;
}

.topics .topicsub {
    width: 80%;
    min-height: 100px;
    background: #ffffff;
}

.topicsub .suject {
    width: 80%;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;
    background: transparent;
    border: 0.1px solid #a2a2a2;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suject h1 {
    margin-right: 30px;
    font-size: 1.5em;
}

.suject input {
    width: 30px;
    height: 30px;
    background: #fff;
    margin-left: 40px;
    border: 2px solid #000;
}

.topicsub .commit {
    width: 80%;
    height: 50px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #000;
    border: 0.4px solid #000;
    cursor: pointer;
    transition: .1s;
}

.commit:active {
    background: #000;
    color: #fff;
}

/* ================= SIGN SECTION ================= */

.signsection {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.twobox {
    position: fixed;
    width: 70%;
    height: 600px;
    border-radius: 30px;
    border: 0.4px solid #989898;
    overflow: hidden;
}

/* ===== ONLY CLOSER MOVES ===== */

.twobox .closer {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #ffffff80;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    z-index: 10;
}

.closer.active {
    left: 50%;
}

.closer button {
    background: #fff;
    color: #000;
    border: 0.4px solid #989898;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
}

/* ===== LOGIN ===== */

.logins {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logins .loginin {
    width: 70%;
    height: 70%;
    border: 0.5px solid #989898;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginin h1 {
    position: absolute;
    top: 20px;
    color: #000;
}

.inputsbox {
    width: 80%;
}

input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 1em;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid #9c9c9c;
}

.inputsbox .loginbtns {
    width: 100%;
    height: 50px;
    border: 0.4px solid #989898;
    background: transparent;
    border-radius: 16px;
    margin-top: 40px;
    cursor: pointer;
}

/* ===== SIGNUP ===== */

.signs {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin {
    width: 80%;
    height: 90%;
    border: 0.5px solid #989898;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signin .inputsbox {
    width: 80%;
    position: absolute;
}

.signin h1 {
    position: absolute;
    top: 20px;
    color: #000;
}
