.main {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #ffffff;
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 100px 0 100px 400px;
    box-sizing: border-box;
    z-index: 96;
    overflow-y: auto;
}

.main .intro {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .topics {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics .topicsub {
    width: 80%;
    min-height: 100px;
    background: #ffffff;

}

.topicsub .suject {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    background: transparent;
    border: 0.7px solid #000;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suject h1 {
    margin-right: 30px;
    font-size: 2em;
}

.suject input {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border: 2px solid #000;
    background: #fff;
}

.topicsub .commit {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 2em;
    background: transparent;
    color: #000;
    border: 4px solid #000;
    outline: none;
    transition: .4s;
}

.commit:hover {
    border-bottom: 50px solid #000;
}

.commit:active {
    background: #000;
    color: #fff;
}