.main {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #ffffff;
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 97;
    overflow-y: auto;
}

.main .intro {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.intro .topics {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics .topicsub {
    width: 50%;
    min-height: 100px;
    background: #ffffff;

}

.topicsub .suject {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 30px;
    padding: 20px 50px;
    background: transparent;
    border: 0.7px solid #000;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}