.content {
  position: fixed;
  top: 50px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  color: #000;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 95;
  overflow-y: auto;
  user-select: none;
}

.content h1 {
    position: absolute;
    user-select: none;
    top: 10px;
    left: 20px;
}

h1 img {
    width: 39px;
    user-select: none;
}

.contetns {
    width: 90%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contetns img {
    width: 400px;
}