.content {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background: linear-gradient(45deg, rgb(83, 83, 216),rgb(110, 110, 189) );
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}

.basic {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: linear-gradient(45deg, rgb(83, 83, 216),rgb(110, 110, 189) );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}

.phpedit {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    background: linear-gradient(45deg, rgb(83, 83, 216),rgb(110, 110, 189) );
    height: calc(100vh - 50px);
    background-color: #000;
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.content h1 {
    position: absolute;
    user-select: none;
    top: 10px;
    margin-top: 30px;
    border-radius: 30px;
    padding: 20px 20px;
    width: 500px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px #00000065;
    background: linear-gradient(45deg, rgb(83, 83, 216),rgb(110, 110, 189) );
    font-size: 40px;
    left: 20px;
}

h1 img {
    width: 39px;
    user-select: none;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 30px;
}

.contents .install {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 600px;

}

.intruction {
    position: absolute;
    top: 700px;
    width: 70%;
    min-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intruction .frist {
    width: 90%;
    padding: 20px;
    min-height: 40px;
}


/* Phpcode */


.phpcodecom {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #fff;
    color: #000;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 95;
    overflow-y: auto;
    user-select: none;
}

.prompts {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promptinput {
    width: 500px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}

.add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masseges {
    position: relative;
    width: 80%;
    height: 80%;
    
}